<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathfinder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>Paths</h1>
    <ul>
      <% paths.forEach(function(p) { %>
        <li>
          <%= p.path %>
            - 
          <%= p.ready ? 'Ready' : 'Not Yet' %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>